# aiogram 3.6.0 требует pydantic 2.x, но лучше использовать последнюю стабильную версию
# для обеспечения совместимости и безопасности.
aiogram~=3.7.0 
# или aiogram>=3.7.0, если хотите самую свежую версию

aiosqlite~=0.20.0
